@{
    ViewData["Title"] = "Entradas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/entradas-index.css" />

<h1 class="entradas-titulo">Mis Entradas</h1>
<div class="entradas-lista">
    <!-- LISTA DE ENTRADAS -->
</div>
