@{
    ViewData["Title"] = "Colecciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/colecciones-index.css" />

<h1 class="colecciones-titulo">Colecciones del Museo</h1>
<div class="colecciones-lista">
    <!-- COLECCIONES -->
</div>
