@{
    ViewData["Title"] = "Obras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/obras-index.css" />

<h1 class="obras-titulo">Listado de Obras</h1>
<div class="obras-lista">
    <!-- Aquí irá el listado de obras -->
</div>
